vti_encoding:SR|utf8-nl
vti_author:SR|jsa9\\Administrator
vti_modifiedby:SR|jsa9\\Administrator
vti_timelastmodified:TR|22 Oct 2019 03:35:14 -0000
vti_timecreated:TR|21 Oct 2019 13:10:06 -0000
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|player.htm player2.htm
vti_cacheddtm:TX|22 Oct 2019 03:35:14 -0000
vti_filesize:IR|5086
vti_cachedlinkinfo:VX|S|http://music.163.com/style/css/iepngfix.htc S|../img/timeline/big.cur S|../img/timeline/small.cur S|../img/timeline/frd_show_left.cur S|../img/timeline/frd_show_right.cur S|../img/common/bg_blank.png S|../img/white-r-icon@3x.png S|../img/black-r-icon@3x.png
vti_cachedsvcrellinks:VX|NSHS|http://music.163.com/style/css/iepngfix.htc NSUS|file:///C:/Users/Administrator/Documents/GitHub/img/timeline/big.cur NSUS|file:///C:/Users/Administrator/Documents/GitHub/img/timeline/small.cur NSUS|file:///C:/Users/Administrator/Documents/GitHub/img/timeline/frd_show_left.cur NSUS|file:///C:/Users/Administrator/Documents/GitHub/img/timeline/frd_show_right.cur NSUS|file:///C:/Users/Administrator/Documents/GitHub/img/common/bg_blank.png NSUS|file:///C:/Users/Administrator/Documents/GitHub/img/white-r-icon@3x.png NSUS|file:///C:/Users/Administrator/Documents/GitHub/img/black-r-icon@3x.png
